<tr>
    <td>{{ site.name }}</td>
    <td>{{ site.url }}</td>


    <td><a href="{% url 'proxy_view' user_site_name=site.name routes_on_original_site=site.url %}">
        <button class='btn'>

    <svg class="bi bi bi-arrow-right-square-fill" width="32" height="32">
        <use xlink:href="#go">
    </svg></button></a></td>

    <td><button class='btn'
        hx-get="{% url 'edit_site' site.pk %}"
        hx-target="closest tr"
        hx-swap="outerHTML">
        <svg class="bi bi-pencil" width="32" height="32">
            <use xlink:href="#pencil">
        </svg></button></td>
    <td><button class='btn'
        hx-confirm='Are you sure?'
        hx-target="closest tr"
        hx-swap="outerHTML swap:1s"
        hx-delete="{% url 'delete_site' site.pk %}">
        <svg class="bi bi-trash3" width="32" height="32">
            <use xlink:href="#trash3">
        </svg></button></td>

</tr>